* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #010044;
  color: white;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.z90{ z-index: 9000; }

.wrapper { width: 100%; }

.logo {
  fill: white;
  stroke-width: 0;
}

.sign_wrapper {
  position: fixed;
  top: 15px;
  height: 28px;
}

.sign {
  position: relative;
  height: 100%;
  width: auto;
  pointer-events: none;
}

.sign_two {
  height: 100%;
  margin-top: -28px;
  transition: 0.4s;
  opacity: 0;
  cursor: pointer;
}

.sign_two img,
.sign_two svg {
  height: 100%;
  width: auto;
}

.sign_two.animate,
.sign_two.visible { 
  opacity: 1; 
}

.sign_two.fix {
  opacity: 1;
  margin-top: 0;
}

.sign_two:hover { transform: scale(1.1); }

path {
  fill: transparent;
  stroke-width: 40;
  stroke: hotpink;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.m {
  transition: 0.4s;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.main {
  transition: 0.8s;
  stroke-dasharray: 3300;
  stroke-dashoffset: 3300;
}

.dot {
  transition: 0.3s;
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
}

.line {
  transition: 0.4s;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
}

.main.animate,
.m.animate,
.dot.animate,
.line.animate {
  stroke-dashoffset: 0;
}

.main.animate.color,
.m.animate.color,
.dot.animate.color,
.line.animate.color {
  animation: color_change forwards ease 0.4s;
}

.m_wrapper {
  position: absolute;
  top: 17%;
  height: 87%;
  left: -2px;
  width: auto;
}

.main_wrapper {
  position: absolute;
  height: 115%;
  width: auto;
  right: -5%;
  top:-6%;
}

.dot_wrapper {
  position: absolute;
  height: 28%;
  width: auto; 
  right: 22%;
  top: 6%;
}

.line_wrapper {
  position: absolute;
  height: 30%;
  width: auto; 
  top: 22%;
  right: 8%;
}

.hamburger {
  position: fixed;
  top: 20px;
  height: 28px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inner_hamburger svg,
img.ham {
  height: 100%;
  width: auto;
}

.inner_hamburger {
  height: 70px;
  pointer-events: none;
  margin-left: -10px;
}

path.one,
path.two,
path.three {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke: white;
  transition: 0.5s;
}

.one {
  stroke-dasharray: 100;
  stroke-dashoffset: 150;
}

.one.animate { stroke-dashoffset: 550; }

.one.cross { stroke-dashoffset: 284; }

.one.color_change{ animation: forwards one 0.2s; }

.one.simple.color_change,
.two.simple.color_change,
.three.simple.color_change {
  animation: none;
}

.two {
  stroke: blue;
  stroke-dasharray: 150;
  stroke-dashoffset: 134;
  transition: 0.5s;
}

.two.animate{ stroke-dashoffset: 734; }

.two.cross { stroke-dashoffset: 472; }

.two.color_change{ animation: forwards two 0.2s; }

.three {
  stroke-dasharray: 70;
  stroke-dashoffset: 243;
  transition: 0.3s;
}

.three.animate { stroke-dashoffset: 383; }

.three.cross { stroke-dashoffset: 360; }

.three.color_change{ animation: forwards three 0.2s; }


/*masonary */
.portfolio_wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  top: 0px;
  left: 0;
  width: 100%;
  display: flex; 
  flex-wrap: wrap; 
  align-content: flex-start;
  align-items: flex-start;
  transform-origin: center;
  padding: 0 0 0 0;
  overflow: hidden;
  min-height: 500px;
}

.box {
  width: 100%;
  display: block;
  background-color: rgb(250, 67, 97);
}

.box.animate { margin-top: 0px; }

.box img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.box img:hover {
  filter: grayscale(100%);
  mix-blend-mode: screen;
  z-index: 999;  
}

.col:hover { z-index: 99; }

.float_up { animation: float_up forwards 0.8s; }

.selection_animation { animation: selection_animation forwards 0.8s; }

.image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.illustration_container {
  position: relative;
  margin: 10px auto;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
}

.illustration_container:nth-child(1) { margin: 70px 0px 10px 0px; }


.illustration_container:nth-child(1) .illustration { animation: float_up forwards 0.5s; }

.info_style{
  position: relative;
  color: white;
}

h3.info_style {
  font-size: 16px;
  font-weight: normal;
}

h3.info_style a { color: pink; }

h3.info_style a:hover { color: hotpink; }


.hide {
  opacity: 0;
  transition: 0;
}

.clone_img {
  position: absolute;
  transition: 0.4s;
}

.float_effect { animation: float_up_select forwards 0.5s; }

.clone_img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero_cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 888;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8888;
}

.fade_in_cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 8888;
  pointer-events: none;
  animation: fade_in forwards 0.5s;
}

.menu_cover,
.transition_cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  display: flex;
}

.menu_cover {
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 9999;
}

.transition_cover {
  align-items: flex-start;
  flex-direction: column;
  z-index: 999;
}

.menu {
  position: relative;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: 0.2s;
}

.inner_menu {
  background-color: white;
  color:rgb(7, 46, 117);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inner_menu a {
  text-decoration: none;
  color: rgb(7, 46, 117);
}

.menu_cover.open > .menu {
  opacity: 1;
  animation: forwards 0.8s menu_open;
  pointer-events: auto;
}

.page_link { cursor: pointer; }

.inner_menu a:hover,
.page_link:hover {
  color:  #ff4fa1;
}

.menu_cover.open > .menu > .inner_menu {
  animation: forwards 0.8s menu_rotate;
  transform-origin: center;
}

.block {
  position: relative;
  right: -100%;
  width: 100%;
  height: 200px;
  animation: slide_in ease forwards 0.2s;
}

.block_close {
  position: relative;
  right: 0;
  width: 100%;
  height: 200px;
  animation: slide_out ease forwards 0.2s;
}

.hero_wrapper {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100vh;
}

.hero { 
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bio {
  position: absolute;
  transition: 1.5s;
  padding: 0 2px;
  top: 60vh;
}

.message {
  transform-origin: center;
  font-size: 40px;
}

.word {
  margin: 0 10px 0 0;
  display: flex;
}

.letter_last,
.letter {
  color: transparent;
  font-size: 40px;
  opacity: 0;
}

.clone {
  position: absolute;
  font-size: 40px;
  transition: 2s; /* gets set in js*/
}

.hop {
  animation: hop infinite 0.5s;
  transform-origin: bottom;
}

.current { z-index: 99; }

.stop_hop { animation: stop forwards 0.25s; }

.blank {
  width: 9px;
  height: 50px;
}

.social_menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 22px;
}

.social_menu a {
  height: 100%;
  display: flex;
  align-items: center;
}

.social_menu svg {
  height: 100%;
  width: auto;
  margin: 0 0 0 15px;
  transition: 0.3s;
  cursor: pointer;
}

.social_menu svg.twitter {
  height:88%;
  width: auto;
}

.social_menu svg:hover { transform: scale(1.2); }

form.contact {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 20px 100px 20px;
  width: calc(100% - 20px);
  max-width: 500px;
}

.contact_title {
  display: block;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 0 20px 0;
  color: white;
}

.contact_label {
  width: 100%;
  margin: 0 0 5px 0;
  color: white;
}

input,
textarea {
  width: 100%;
  border: 0px;
  padding: 7px 10px;
  font-family: 'Quicksand', sans-serif;
  margin: 0 0 10px 0;
}

textarea { height: 200px; }

.button_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 15px 0 0 0;
}

.button_container button {
  padding: 7px 10px;
  border: 0px;
  background-color: rgb(106, 241, 235);
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

.button_container button:hover { background-color: white; }

input:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgb(106, 241, 235);
}

::placeholder { color: rgb(118, 203, 252); }

small { margin: 0 0 20px 15px; }

.copy_wrapper {
  position:relative;
  padding: 0 0 15px 0;
}

.iframe_container {
  position: relative;
  margin: 0 auto;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media screen and (orientation: portrait) {
  .vert {
    max-width: 600px;
    /* width: calc(100vw - 80px); */
    height: auto; 
  }
  
  .hori {
    max-width: 1000px;
    width: calc(100vw - 80px);
    height: auto; 
  }

  .hori .info_style { max-width: 640px; }
  
  .illustration { width: 100%; }
}

@media screen and (orientation: landscape) {

  .vert .info_style { max-width: 600px; }

  .hori .info_style { max-width: 640px; }

  .vert .illustration {
    height: calc(100vh - 80px);
    max-height: 600px;
    width: auto;
  }
  
  .hori .illustration {
    height: calc(100vh - 80px);
    max-height: 500px;
    width: auto;
  }

  .hori iframe { max-width: 100%; }
}


@media screen and (min-width: 0px) {

  .illustration_container { width: 100%; }

  .info_style{ margin: 10px 12px 40px 12px; }

  .intro { margin: -80px 0 0 0; }

  .social_menu {
    bottom: 20px;
    right: 15px;
    transition: 0.3s;
  }

  .hamburger {
    right: 15px;
    transition: 0.3s;
  }

  .sign_wrapper {
    left: 10px;
    transition: 0.3s;
  }

  .bio { margin: 20px 0 0 20px; }

  .hero_wrapper { padding: 20px; }

  .bio h2 {
    display: inline-block;
    font-size: 16px;
  }

  .clone.small { font-size: 10px; }
}


@media screen and (min-width:600px) {

  .illustration_container { width: auto; }

  .intro { margin: 0px 0 0 0; }

  .info_style{ margin: 10px 0 40px 0; }

  .social_menu {
    bottom: 20px;
    right: 30px;
  }

  .hamburger { right: 30px; }

  .sign_wrapper { left: 15px; }

  .bio { margin: 10px 0 0 40px; }

  .hero_wrapper { padding: 40px; }

  .bio h2 {
    display: block;
    font-size: 16px;
  }

  .clone.small { font-size: 20px; }
}

/* animation */

@keyframes color_change {
  0% { stroke: #ff4fa1; }
  60% { stroke: #ff85be;  }
  100% { stroke: transparent; stroke-width: 60 ; }
}

@keyframes stop {
  0% { transform: scale(0.95, 1.05) translateY(-20px); }
  100% { transform: scale(1) translateY(0px); }
}

@keyframes menu_rotate {
  0% {
    transform: scale(1) rotate(0);
    transform-origin: center;
  }
  10% {
    transform: scale(1);
    transform-origin: bottom;
  }
  35% {
    transform: scale(1.2,0.5) rotate(-180deg);
    transform-origin: center;
  }
  60% {
    transform: scale(1) rotate(-270deg);
    transform-origin: center;
  }
  95% {
    transform: scale(1.2,0.5) rotate(-360deg);
    transform-origin: bottom;
  }
  100% {
    transform: scale(1) rotate(-360deg);
    transform-origin: bottom;
  }
}

@keyframes slide_out {
  0% { right: 0; }
  100% { right: 100%; }
}

@keyframes slide_in {
  0% { right: -100%; }
  100% { right: 0; }
}

@keyframes hop {
  0%,100% { transform: scale(0.95,1.05) translateY(-20px); }
  20%,80% {transform: translateY(-20px);}
  50% { transform: scale(1.2,0.9) translateY(0); }
}

@keyframes menu_open {
  0% { transform: translate(60vw, 0); }
  10% { transform: translate(60vw, -200px); }
  35% { transform: translate(30vw, 0); }
  60% { transform: translate(30vw, -200px); }
  100% { transform: translate(0, 0); }
}

@keyframes one {
  0% { stroke: white; }
  20%,80% { stroke: #ff4fa1;  }
  100% { stroke: white; }
}

@keyframes two {
  0% { stroke: white;}
  20%,80% { stroke: rgb(106, 241, 235); }
  100% { stroke: white; }
}

@keyframes three {
  0% { stroke:  white; }
  20%,80% { stroke: rgb(247, 221, 78); }
  100% { stroke: transparent; }
}


@keyframes float_up {
  0% { transform: scale(1); margin-top: 200vh;}
  30% { transform: scale(1); margin-top: 200vh;}
  70% { transform: scale(1.04,0.96); margin-top: 0;}
  80% { transform: scale(0.96,1.1); margin-top: 8px;}
  90% { transform: scale(1.04,0.96); }
  100% { transform: scale(1); margin-top: 8px;}
  100% { transform: scale(1); margin-top: 0;}
}

@keyframes fade_in {
  0% { background-color: #727483; }
  100% { background-color: transparent; }
}

@keyframes float_up_select{
  0% { transform: scale(1); }
  10% { transform: scale(0.95,1.05); }
  30% { transform: scale(1.2,0.9); }
  40% { transform: scale(0.95,1.05); }
  100% { transform: scale(0.95,1.05); }
}