body {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 90px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding-top: 50px;
    text-align: center;
}
.sidebar a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #000;
}
.sidebar a:hover {
    background-color: #ddd;
}

.content {
    margin-left: 90px;
    padding: 20px;display: flex; justify-content: center;
}
.content img{
    width: 100%;
    max-width: 600px;
}
.title{
    display: block;
    position: relative;
    text-align: center;
    font-weight: bolder;
    color: #07379C;
}
.title span:before, .title span:after {
    content: '';
    position: absolute;   /*定位背景横线的位置*/
    top: 50%;
    background: #07379C;   /*背景横线颜色*/
    width: 40%;            /*单侧横线的长度*/
    height: 2px;
}
.title span:before {
    left: 0%;              /*调整背景横线的左右距离*/
}
.title span:after {
    right: 0%;
}

.good{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.good img{
    width: 50px;
    height: 50px;
}
.good a{
    font-size: 12px;
    text-decoration:none;
    text-align: center;
    color:#000000;
    width: 100px;
    height: 100px;
}