*{
    cursor: url('./asset/cursor.png'), auto;
    border: 1px solid red;
}
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#cat {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    top: calc(50% - 75px);
    left: calc(50% - 75px);
}
.part {
    position: absolute; /* 绝对定位，相对于#cat */
}
#head {
    top: -30px;
    left: 50px;
    z-index: 1;
    width: 100px;
    height: 100px;
    background-size: cover;
    animation: headSwing 0.5s infinite alternate ease-in-out;
}
#body {
    z-index: 0;
    width: 150px;
    height: 150px;
    background-size: cover;
    animation: bodySwing 0.5s infinite alternate ease-in-out;
}
#tail {
    top: -25px;
    left:-10px;
    z-index: -1;
    width: 50px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain; /* 让背景图像自适应大小 */
    background-position: right bottom;
    transform-origin: bottom right;
    animation: tailSwing 1s infinite alternate ease-in-out;
}
.leg {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    transform-origin: top center;
}
#leg-front-left{top: 95px;left: 90px;z-index: -1;}
#leg-front-right{top: 100px;left: 80px;z-index: 2;}
#leg-back-left{top: 95px;left: 30px;z-index: -1;}
#leg-back-right{top: 100px;left: 20px;z-index: 2;}