* { box-sizing: border-box; }

body {
  background-color: #00f8df;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.portfolio {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:transparent;
}

.card { 
  position: absolute;
  transition: 0.4s;
  border-radius: 8px;
  width: var(--width);
  height: var(--height);
  top: var(--top);
  left: var(--left);
  transform: rotate(var(--deg));
  z-index: var(--z);
  overflow: hidden;
}

/* grid ------------ */
.portfolio.grid {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
  overflow: auto;
  max-width: 1300px;
  padding-top: 20px;
}

.portfolio.grid > .card {
  --max-size: calc(50% - 12px);
  transition: 0s;
}

@keyframes grid-display {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.portfolio.grid .card:not(.pick) > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.portfolio.grid .card:not(.pick) > img.vert {
  width: 100%;
  height: auto;
}

.portfolio.grid .card:not(.pick) > img.hori {
  height: 100%;
  width: auto;
}

.portfolio.grid > .card:not(.pick) {
  position: relative;
  transform: none;
  top: 0;
  left: 0;
  margin: 6px;
  max-width: var(--max-size);
  padding-top: var(--max-size);
  width: 300px;
  height: 0px;
  z-index: 0 !important;
  animation: grid-display forwards 0.4s;
}

.wrapper:has(.grid) {
  overflow: auto;
}

@media (min-width: 300px) {
  .portfolio.grid > .card {
    --max-size: calc(100% / 3 - 12px);
  }
}

@media (min-width: 600px) {
  .portfolio.grid > .card {
    --max-size: calc(100% / 6 - 12px);
  }
}

@media (min-width: 1000px) {
  .portfolio.grid > .card {
    --max-size: calc(100% / 8 - 12px);
  }
}


/* grid  end ------------ */

.card:hover {
  cursor: pointer;
}

.card.pick {
  width: var(--display-width);
  height: var(--display-height);
  top: var(--display-top);
  left: var(--display-left);
  transform: rotate(var(--display-deg));
  z-index: var(--display-z);
}

.portfolio.stack:not(.grid) .card {
  top: var(--stack-top);
  left: var(--stack-left);
  transform: rotate(var(--stack-deg));
  z-index: var(--stack-z);
}

.portfolio.stack:not(.grid) .card { 
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio.stack:not(.grid) .card > img {
  height: 300px;
  width: auto;
}

.portfolio:not(.stack) .card:hover{
  z-index: 2;
}

.portfolio:not(.grid) .pick,
.portfolio:not(.stack) .pick {
  z-index: 9999;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
}

@media(hover: hover) and (pointer: fine) {
  .portfolio.stack:not(.grid) .card.peek{
    transform: rotate(-10deg) translateX(-150px);
  } 
}

.card.drag {
  transition: 0s;
}

.spin_to_the_back {
  animation: forwards spin-back calc(0.7s + var(--prev-stack-delay));
}

@keyframes spin-back {
  0% {
    top: var(--prev-stack-top);
    left: var(--prev-stack-left);
    transform: rotate(0deg);
    z-index: var(--prev-stack-z);
  }
  20% {
    left: calc(var(--prev-stack-left) + 50px);
    z-index: var(--stack-z);
  }
  70% {
    top: -200px;
    left: calc(var(--stack-left) * 0.4);
  }
  100% {
    top: var(--stack-top);
    left: var(--stack-left);
    transform: rotate(360deg);
    z-index: var(--stack-z);
  }
}

.button_wrapper {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: flex;
  z-index: 99999;
}

/* this will have images maybe */
button {
  --button-height: 4px;
  border-width: 0px;
  background-color: white;
  margin: 4px;
  padding: 4px;
  border-radius: 8px;
  width: 40px;
  height: calc(40px + var(--button-height));
  image-rendering: pixelated;
  background-position: 4px;
  background-repeat: no-repeat !important;
  background-size: 32px !important; 
  border-bottom-width: var(--button-height);
  border-color: black;
  cursor: pointer;
}

button.selected {
  filter: invert();
}

button.disabled {
  opacity: 0.5;
  cursor: auto;
}

button.disabled,
button.selected,
button:hover {
  height: 40px;
  border-bottom-width: 0;
  margin-top: calc(4px + var(--button-height));
}

.shuffle_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAKtJREFUWEftleEOgCAIhPX9H7pWi2aJchjqXPhbuc8TjxgmrzhZPzhAzYHN+HlYrRKAtTjdJdPjAHqJsxAOsJQD2swo9dKjjsaBJQC0Pyhqb4VkEwpxaiNJ2AIpQdw10SS0hBjWhIfDbyfEKIatQ5rh2kM1xWEkiRcHigIm20pUqLgG4p9BlFps7sCXp07PNn9DBxjmAJdgXcTRYdRNXAKwEq7WaZlypmAOsAMU6iIhJuV19wAAAABJRU5ErkJggg==);
}

.grid_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAFFJREFUWEdjZBhgwDjA9jMMOgf8JxAiIAdTSw3YKvQQoJbhxJgz6oDREBgNAawhQPeCcbQcGA2B0RAYDYHRFtFoGhgNgdEQGHQhMOAtopHnAAA3d0ghlLSDZgAAAABJRU5ErkJggg==);
}

.stack_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAGlJREFUWEftlkEOABAMBPn/o4mDxKVkS7VkXRHT2YPNyXll5/dTWICyYQYaSjocBgCaRmNtZaDtm9p4CsAkDsSASRwEoAEaoAEaoIGwBsZy0wvJ1d+QAFK/PN4P0ZpFAE31n95BI/gPoAKeNTwhYm+4rAAAAABJRU5ErkJggg==);
}

.single_stack_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAEZJREFUWEft1rEJADAIBEDdf+hkAxEsJOHsxfewMGO5cnl+CPCEwBneSblkR0AAAgQIECBAgAABAusCw6e4bu98xQL8LXAB8jwWISts5h4AAAAASUVORK5CYII=);
}

.scatter_btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAARZJREFUWEe1V8sSAyEIY///o9uxU3dYq+aB3UsvkISIYK/4z/eKiIuBpoIYoBTTyPsH8WFAgZwSgQTQVkZErnzUveTZCVCs3JFvnVgJmAEqsauT+8GYgSpWMpVvj2MUwAD2HCYWOpEFKIDHRFSAKrl3YzYQpfLVeToYnwKOVPFVpYi4j97tgYoTj8Z3bgGacso1nm4sy8pBFT3IKtON2SNwIbG7ANm+GjhwmSlV5Gq6xSgfbnMGYNyK4/kyGEshKLlbmH9nYAjHEoAqd/vikVe5BUecUN8DsKnY1zC6n8owKjnhzoFjTqDudZ1AuPwfB+O9QJPn9wCylHVCIlcEtFgkQiZXBexEWOSOgJkIm9wVkEWUyBvQG5veMyFFekG6AAAAAElFTkSuQmCC);
}

.display_card {
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
}
.display_card.display {
  animation: forwards 0.4s display-display-card;
}
.display_card.display.hide {
  animation: forwards 0.4s hide-display-card;
}

@keyframes display-display-card {
  0% {
    top: var(--grid-display-top);
    left: var(--grid-display-left);
    width: 100px;
    height: 100px;
    opacity: 0;
  }
  100% {
    top: var(--display-top);
    left: var(--display-left);
    width: var(--display-width);
    height: var(--display-height);
    opacity: 1;
  }
}


@keyframes hide-display-card {
  0% {
    top: var(--display-top);
    left: var(--display-left);
    width: var(--display-width);
    height: var(--display-height);
    opacity: 1;
  }
  100% {
    top: var(--grid-display-top);
    left: var(--grid-display-left);
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}