.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}
.head > img:first-child {
    max-width: 300px;
}
.butt{
    width: 80%;
    max-width: 500px;
    height: 40px;
    background-color: #07379C;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
    font-size: 14px;
}
#cartCount{
    display:none;
    position: absolute;
    right:20px;
    top:60px;
    width:18px;
    height:18px;
    color:white;
    background-color:#ff3f3f;
    border-radius:10px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
}

.info{
    height: 30px;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}
.info img{
    width: 20px;
    height: 20px;
    filter: contrast(0.2);
    margin-right: 10px;
}
.info p{
    position: absolute;
    right: 20px;
    color: #cccccc;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.detail img{
    width: 100%;
    max-width: 500px;
}
.title{
    color: #07379C;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}